@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: theme("fontFamily.sans");
  background-color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

